In [17]:
c="hello world"
print(c)
c[0:6]

hello world

'hello '

In [18]:
a= [1,2,3] 
b = aa =[4,5,6]
print(b)

[4, 5, 6]

In [45]:
x = "bafana"
b = "john"

print(x + b);

bafanajohn

# 2.1 LIST

In [46]:
my_list=[1,2,3,4,""]
print(my_list);

[1, 2, 3, 4, '']

In [47]:
my_list=["list","of","strings"]
print(my_list)

['list', 'of', 'strings']

In [48]:
my_list=[1,"list",False,[]]

In [49]:
len(my_list)

4

In [50]:
my_list = [[1,2,3],[False,True],[]]
print(my_list);

[[1, 2, 3], [False, True], []]

In [51]:

len(my_list)

3

In [162]:
my_set={1,2,3,4,""}
print(my_set);

{'', 1, 2, 3, 4}

In [163]:
thislist = list(("apple","banana","cherry"))
print(thislist)

['apple', 'banana', 'cherry']

#### ACCESSING ITEMS ON LIST
---

In [165]:
#Print the second item of the list

thislist=["apple","banana","cherry"] #the list
print(thislist[1])

banana

### Negative indexing ,basically starting from the end

-1 refers to the last item, -2 refers to the second last item

In [166]:
# Print the last item of the list:

thislist = ["apple","banana","cherry"];
print(thislist[-1])

cherry

### Range of indexes
where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items

In [168]:
#Return the third, fourth, and fifth item 

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [170]:
# This example returns the items from the beginning to end, but NOT including, "kiwi"
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [172]:
# This example returns the items from "cherry" to the end
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Check if Item Exists

In [173]:
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
    print("yebo madala")

yebo madala

# CHANGE ITEM VALUE

In [2]:
#Change the second item:
thislist = ["apple","banana","cherry"]
thislist[2] = "grapes"
print(thislist)

['apple', 'banana', 'grapes']

# CHANGE A RANGE OF ITEM VALUES

In [6]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
print("oldlist")
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"];
print(thislist)
print("newlist")
thislist[1:3]=["blackcurrant","watermelon"]
print(thislist)

oldlist
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
newlist
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

# Python - Add List Items

---
# APPEND ITEMS

THIS IS TO ADD AN ITEM TO THE END OF A LIST

**APPEND()**

In [7]:
thislist=["apple","banana","cherry"]
thislist.append("grapes");
print(thislist)

['apple', 'banana', 'cherry', 'grapes']

# INSERT ITEMS

to insert item at a specified index 

**insert()**

In [9]:
# Insert an item as the second position

thislist = ["apples","banana","cherry"];
thislist.insert(1,"grapes")
print(thislist)

['apples', 'grapes', 'banana', 'cherry']

---
# Extend List
append elements from another list to the current list
extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries 

**extend()**

In [10]:
namelist = ["Bafana","Tyrone","Gift"]
surnamelist = ["Madume","Magadze","Baloyi"]

namelist.extend(surnamelist)
print(namelist)

['Bafana', 'Tyrone', 'Gift', 'Madume', 'Magadze', 'Baloyi']

---
# Remove List Items

**remove()**
method removes the specified item

In [19]:
#Remove "banana":

thislist = ["banana","apple","avocado"]
thislist.remove("banana");
print(thislist)

['apple', 'avocado']

# Remove Specified index

**pop()** method that removes the specified index

other option is 
**del**

In [20]:
thislist = ["banana","apple","avocado"]
thislist.pop(0)
print(thislist)

['apple', 'avocado']

In [21]:
thislist = ["banana","apple","avocado"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

# Loop Through a List

In [22]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable

In [27]:
thislist = ["apples","banana","cherry"]

for i in range(len(thislist)):
    print(thislist[i])

apples
banana
cherry

# Arithmetic Operators

In [53]:
1+1 #addition

2

In [54]:
65*75 #multiplication

4875

In [55]:
5 ** 2

25

In [56]:
20/5

4.0

In [57]:
20/4.5

4.444444444444445

In [58]:
20

20

In [59]:
"string 1" + "bafana"

'string 1bafana'

In [60]:
"bafana"*2 + "Madume"*4

'bafanabafanaMadumeMadumeMadumeMadume'

In [61]:
a= True
b = False 
if b:
    print("it is true bruv")
    print("also print")
else:
    print("it is false mate");
    print("please retry again make sure values are correct");

it is false mate
please retry again make sure values are correct

In [62]:
names = {"bafana","Gift","Madume"}
for x in names:
    print(x)

bafana
Gift
Madume

In [63]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [64]:
list1={"bafana","please retry again make sure values are correct",}
for x in list1:
    print(x)

bafana
please retry again make sure values are correct

In [65]:
i = 2
while i <= 6:
    print(i)
    i+=1

2
3
4
5
6

In [66]:
def my_age():
    print("my age is 00")

In [67]:
my_age()

my age is 00

In [68]:
'2'+'22'

'222'

LEARNING ACTIVITIES

In [69]:
#ITERATION 
def factorial(num):
    if type(num) is not int:# first if to test if number is an integar
        return "none"
    if num<0:
        return "none"  # checks if number is below zero but challenge is -2
    elif num == 0:     # any number that is equal to zero must return 1 ensure that it is true
        return 1
    
    i = 0   # i becomes the lowest value factorial might end
    f = 1   # last number that can be returnedg
    while i < num:
        i=i+1  #i set it equal to i+1
        f=f*i  #f by multiplying it with i

    return f  # what we are returning

# INT and Floats

In [70]:
int(5 ** 5.2)

4311

In [71]:
int(8.6)

8

In [72]:
int(8.99999999)

8

In [73]:
round(15/6.5)

2

## BOOLEANS

In [74]:
bool(1)

True

In [75]:
bool(0)

False

In [76]:
bool(5)

True

In [77]:
bool(-1)

True

# STRINGS

### SLICING

In [78]:
name = "MY name is Bafana Gift Madume " #in slicing we are going to take portion of the string for output

In [79]:
name[0]

'M'

In [80]:
name[0:7]

'MY name'

In [81]:
name[11:30]

'Bafana Gift Madume '

In [82]:
myList = [ 1,2,3,4,5 ]

In [83]:
myList[2:4]

[3, 4]

# FORMATTING

In [84]:
'My number is:'+str(5)

'My number is:5'

In [85]:
f'My number is:(5)'

'My number is:(5)'

In [86]:
text1 = """MY name is bafana madume,
i am currently typing this at capaciti."""

print(text1)

MY name is bafana madume,
i am currently typing this at capaciti.

In [87]:
int('101',2)

5

In [88]:
int(8.7)

8

In [89]:
bool(-1) == 1

True

# BASIC DATA SRUCTURES

## list []

List slicing

In [90]:
myList = [1,2,3,4,5]
myList[3:]

[4, 5]

In [91]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [92]:
myList = list(range(100))

In [93]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [94]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

### LIST MODIFYING

In [95]:
myList = [1,2,3,4]
myList.append(5) # what append does it adds to the list 
print(myList)

[1, 2, 3, 4, 5]

In [96]:
myList.insert(3,'new value')
print(myList)

[1, 2, 3, 'new value', 4, 5]

In [97]:
myList

[1, 2, 3, 'new value', 4, 5]

In [98]:
myList.pop() # this method removes and returns at the end of a list

5

In [99]:
myList.remove("new value")
print(myList)

[1, 2, 3, 4]

# TUPLES ()

In [100]:
myTuple= ('a','b','c') # use round brackets 
myTuple

('a', 'b', 'c')

In [101]:
myTuple[1] #when you call from a tuple use square brackets

'b'

## SETS

In [102]:
mySet= {'a','b','c'}
mySet

{'a', 'b', 'c'}

In [103]:
mySet = set(('a','b','c'))

In [104]:
mySet

{'a', 'b', 'c'}

In [1]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [6]:
myset = set(("Bafana","isivile","Spheleke","Malebaleng","Sesethu"))
print(myset)

# checking if Sesethu is in the list
print("Sesethu" in myset)

# adding an item to a set, but only one item 
myset.add("john")
print(myset)

# Adding more items to the set.
surnameset = {"Madume","Mabuyane","Ntshona","Madimabe","Potye"}
myset.update(surnameset)
print(myset)

{'Spheleke', 'Malebaleng', 'Sesethu', 'Bafana', 'isivile'}
True
{'Spheleke', 'john', 'Malebaleng', 'Sesethu', 'Bafana', 'isivile'}
{'Spheleke', 'john', 'Madume', 'Malebaleng', 'Sesethu', 'Bafana', 'Madimabe', 'Mabuyane', 'isivile', 'Ntshona', 'Potye'}

In [2]:
myList=['a','b','b','c','c']
myList = list(set(myList))
myList

['a', 'b', 'c']

## DICTIONARIES

In [106]:
thisdict = {
    "brand":"ford",
    "model": "Mustang",
    "year" : 2020,
    "year" : 2023
}

In [107]:
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 2023}

In [108]:
print(len(thisdict))

3

## ACCESSING ITEMS

In [109]:
thisdict = {
    "brand":"Ford",
    "model":"Mustang",
    "year": 2020
}
x = thisdict["model"] # accessing what i s required

In [110]:
print(x)

Mustang

In [111]:
thisdict.get("model") # get is also a fast method to obtain what is required

'Mustang'

## KEYS()

In [112]:
x = thisdict.keys() #keys() method will return a list of all the keys in the dictionary

In [113]:
print(x)

dict_keys(['brand', 'model', 'year'])

##### *Adding a new item to the original dictionary*

In [114]:
car = {
    "brand":"Toyota",
    "model":"Corolla",
    "year" : 2024
}

x = car.keys()
print(x)

car["color"] = "white" # this is how you add a new key ot iten=m 

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

#### GET VALUES

values() method will return a list of all the values in the dictionary

In [115]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 2020])

changing the "year" to 2024:

In [116]:
# changing the "year" to 2024:
thisdict = {
    "brand":"ford",
    "model": "Mustang",
    "year" : 2020,
    "year" : 2023
}
thisdict["year"] = 2024

In [117]:
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 2024}

In [118]:
car = {
    "brand":"Mazda",
    "Model": "Bseries",
    "year" : 2021 
}

x = car.values()
print(x)

car["color"]="red"
car["type"]= "Bakkie"

print(x)

dict_values(['Mazda', 'Bseries', 2021])
dict_values(['Mazda', 'Bseries', 2021, 'red', 'Bakkie'])

## items()

this method will return each item in a dictionary ,as tuples in a list

In [119]:
x=thisdict.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 2024)])

In [120]:
car ={
    "brand":"Toyota",
    "model":"hilux",
    "year" : 2023
}

x = car.items()
print(x)

car["year"]=2028
print(x)

dict_items([('brand', 'Toyota'), ('model', 'hilux'), ('year', 2023)])
dict_items([('brand', 'Toyota'), ('model', 'hilux'), ('year', 2028)])

## CHECK IF KEY EXISTS

In [121]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : "2023"
}

if "model" in thisdict:
    print("yes model in dic")
else:
    print("sorry key does not exist")

yes model in dic

# CHANGING DICTIONARY ITEMS

### CHANGING VALUES

In [122]:
#EXAMPLE
#Chnage the year to 2022

dic = {
    "brand":"toyota",
    "model": "corolla",
    "year" : 2020
}

# changing year 

dic["year"] = 2022

print(dic)

{'brand': 'toyota', 'model': 'corolla', 'year': 2022}

## UPDATE()

update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs

In [123]:
thisdict = {
    "brand":"toyota",
    "model": "corolla",
    "year" : 2020
}
print(thisdict)

thisdict.update({"year":2025})  #the use of update({})
print(thisdict)

{'brand': 'toyota', 'model': 'corolla', 'year': 2020}
{'brand': 'toyota', 'model': 'corolla', 'year': 2025}

# REMOVING ITEMS

## pop()

pop() method removes the item with the specified key name:

In [124]:
thisdict = {
    "brand":"Ford",
    "model":"Ranger",
    "year" : 2025
}

thisdict.pop("model");
print(thisdict)

{'brand': 'Ford', 'year': 2025}

## popitem()

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [125]:
thisdict = {
    "brand": "Ford",
    "model": "ranger",
    "year":2025 
}
print(thisdict)

thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'ranger', 'year': 2025}
{'brand': 'Ford', 'model': 'ranger'}

## del

In [126]:
thisdict = {
    "brand": "Ford",
    "model": "Ranger",
    "year":2025
}
print(thisdict)
thisdict.update({"year":2029});
print(thisdict)

thisdict.update({"color":"red"})
print(thisdict)
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'model': 'Ranger', 'year': 2025}
{'brand': 'Ford', 'model': 'Ranger', 'year': 2029}
{'brand': 'Ford', 'model': 'Ranger', 'year': 2029, 'color': 'red'}
{'brand': 'Ford', 'year': 2029, 'color': 'red'}

## clear()

clear() method empties the dictionary:

In [127]:
thisdict = {
    "brand":"Ford",
    "model": "Focus",
    "year": 2021
}
print(thisdict)

thisdict.clear();
print(thisdict);

{'brand': 'Ford', 'model': 'Focus', 'year': 2021}
{}

## COPY A DICTIONARY

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy()

### copy()

In [128]:
thisdict = {
     "brand":"Ford",
    "model":"ranger",
     "year": 2021
}
print(thisdict)

mydict = thisdict.copy()
print(mydict)

mydict.update({"brand":"toyota","model":"hilux"})
print(mydict)

{'brand': 'Ford', 'model': 'ranger', 'year': 2021}
{'brand': 'Ford', 'model': 'ranger', 'year': 2021}
{'brand': 'toyota', 'model': 'hilux', 'year': 2021}

## LIST COMPREHENSION

offers a shorter syntax when you want to create a new list based on the values of an existing list

In [129]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

SYNTAX FOR LIST COMPREHENSION

newlist = [expression **for** item **in** iterable **if** condition == True]

In [130]:
myList =[1,2,3,4,5]
[2 * item for item in myList]

[2, 4, 6, 8, 10]

In [131]:
fruits = ["apples","banana","cherry","kiwi","mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apples', 'banana', 'mango']

In [132]:
x= 1
y = 2

not(x>y)

True

# IF STATEMENT

In [133]:
if x > 0:
    print('x is positive')

x is positive

In [134]:
x = 3
if x < 10 :
    print("small")

small

In [135]:
a = 10
b = 20

if a < b:
    print("a is indeed less than b")

a is indeed less than b

## if Else

In [136]:
x = 2

if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

## Elif (Else if)

this is a way of saying that if the previous conditions were not true then try this condition.this is mostly based on the fact that sometimes there are more than two possibilities and we need more than two branches

In [137]:
x = 1
y = 5

if x < y:
    print("x is less than y")
elif(x > y):
    print("x is less than y")
else:
    print("they are equal")

x is less than y

In [138]:
for n in range(1,101):
    if n % 15 == 0:
        print("fizzbuzz")
    else:
        if n % 5 == 0:
            print("buzz")
        else:
             if n % 3 == 0:
                print("fizz")
             else:
               print(n)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

# WHILE LOOP

In [139]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 2:
        break
    i+=1

# FOR LOOP

In [141]:
fruits = ["apples","banana","cherry","grapes"]
for x in fruits:
    print(x)

apples
banana
cherry
grapes

In [142]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [149]:
friends = ['joe','john','james']

for friend in friends:
    print("merry christmas:",friend)
print("done")

merry christmas: joe
merry christmas: john
merry christmas: james
done

In [150]:
myList = [1,2,3,4]

for item in myList:
    print(item)

1
2
3
4

In [151]:
animalLookup = {
    'a':['aardvark','antelope'],
    'b':['bear'],
    'c':['cat'],
    'd':['dog'],

}

for letter,animals in  animalLookup.items():
    pass

In [155]:
for letter,animals in animalLookup.items():
    if len(animals) >1:
        continue
    print(f'only one animal {animals[0]}')

only one animal bear
only one animal cat
only one animal dog

In [158]:
for number in range(1,100):
    if number % 10 == 0:
        break
    else:
        print("some")

some
some
some
some
some
some
some
some
some

In [161]:
['Monty Python' if n % 6 == 0 else'Python'  if n % 3 == 0 else 'Monty'     if n % 2 == 0   else n for n in range(1, 10)]

[1, 'Monty', 'Python', 'Monty', 5, 'Monty Python', 7, 'Monty', 'Python']

In [28]:

x = "Hello World"
print(len(x))

11

In [ ]:
for u in range